:host {
    display: block;
    overflow: hidden;
    /* Hide everything that doesn't fit compoennt */
}

.parent {
    height: 100%;
    width: 100%;
    display: flex;
    /* Align all children in a row */
    div {
        flex: 1;
    }
    /* Evenly divide width between children */
}
