#wrapper {
    width: 100%;
}

.centered {
    margin: auto;
}

#previousIcon {
    color: black;
    background-color: white;
    z-index: 201;
}

#nextIcon {
    color: black;
    background-color: white;
    z-index: 200;
}