#wrapper {
    width: 100%;
}

.centered {
    margin: auto;
}

#previousIcon {
    color: black;
    background-color: white;
    z-index: 201;
}

#nextIcon {
    color: black;
    background-color: white;
    z-index: 200;
}

app-slide-panel {
    max-width: 300px;
    height: 150px;
}

app-slide-panel div {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}