<div fxLayout="row" fxLayoutAlign="center stretch">
	<div [style.visibility]="hasPreviousElement ? 'visible' : 'hidden'" flexAlign="start stretch" class="centered">
		<button mat-fab class="clickable " id="previousIcon" (click)="previousElt()">
			<mat-icon aria-label="Previous Element ">navigate_before</mat-icon>
		</button>
	</div>

	<div fxFlex="100">
		<ng-content></ng-content>
	</div>

	<div [style.visibility]="hasNextElement ? 'visible' : 'hidden'" flexAlign="end stretch" class="centered">
		<button mat-fab class="clickable " id="nextIcon" (click)="nextElt()">
			<mat-icon aria-label="Next Element">navigate_next</mat-icon>
		</button>
	</div>
</div>

<app-slide-panel [panes]="panes" [activePane]="activePane">
	<ng-template #paneSlide let-pane>
		<div [style.backgroundColor]="pane.color">{{pane.name}}</div>
	</ng-template>
</app-slide-panel>

<button [disabled]="!panes || panes.length === 0 || activePane === 0" (click)="activePane = 0">
	<< </button>
<button [disabled]="!panes || panes.length === 0 || activePane === 0" (click)="activePane = activePane - 1">
  -
</button>
<button [disabled]="!panes || panes.length === 0 || activePane === panes.length - 1" (click)="activePane = activePane + 1">
  +
</button>
<button [disabled]="!panes || panes.length === 0 || activePane === panes.length - 1" (click)="activePane = panes.length - 1">
  >>
</button>