#wrapper {
    width: 100%;
}

.centered {
    margin: auto;
}

#previousIcon {
    color: black;
    background-color: white;
    z-index: 201;
    left: 16px;
}

#nextIcon {
    color: black;
    background-color: white;
    z-index: 200;
    right: 16px;
}

app-slide-panel {
    height: 500px;
}

app-slide-panel app-slide {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}