<mat-list *ngIf="!!slidesImported && slidesImported.length > 0" role="list" id="slides_list">
	<mat-list-item *ngFor="let slide of slidesImported; let idx = index" role="listitem" [ngClass]="{'slide_editing': currentSlideEdit === slide}">
		<app-slide-management [slide]="slide" [iconEdit]="currentSlidePreview ? 'photo' : 'edit'" (onEdit)="editSlide($event)" (onDelete)="removeSlide($event)"></app-slide-management>
		<mat-icon *ngIf="!slide.id && slide.isLoaded" class="clickable" (click)="upload(slide)">cloud_upload</mat-icon>
		<mat-icon *ngIf="!!slide.id">cloud_done</mat-icon>
		<mat-divider *ngIf="idx < slidesImported.length - 1"></mat-divider>
	</mat-list-item>
</mat-list>

<button mat-raised-button color="primary" class="button centered" (click)="file_dialog_multiple.click()">Load pictures</button>
<button mat-raised-button color="warn" class="button centered" (click)="upload(slidesImported)">Upload</button>

<br>

<mat-slide-toggle [disabled]="!slidesImported || slidesImported.length == 0" (toggleChange)="currentSlidePreview = !currentSlidePreview">{{currentSlidePreview ? "Edit" : "Preview"}}</mat-slide-toggle>

<table id="layout">
	<tr>
		<td colspan="3">
			<markdown *ngIf="currentSlidePreview && !!currentSlideEdit && !!currentSlideEdit.title && (currentSlideEdit.title.length > 0)" [data]="currentSlideEdit.title"></markdown>
			<textarea *ngIf="!currentSlidePreview && !!currentSlideEdit" placeholder="markdown code here..." [(ngModel)]="currentSlideEdit.title"></textarea>
		</td>
	</tr>
	<tr>
		<td>
			<app-slide-view [slide]="currentSlideEdit" class="clickable" (click)="file_dialog_one.click()"></app-slide-view>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<markdown *ngIf="currentSlidePreview && !!currentSlideEdit && !!currentSlideEdit.text && (currentSlideEdit.text.length > 0)" [data]="currentSlideEdit.text"></markdown>
			<textarea *ngIf="!currentSlidePreview && !!currentSlideEdit" placeholder="markdown code here..." [(ngModel)]="currentSlideEdit.text" name="text-down"></textarea>
		</td>
	</tr>
</table>

<!-- FORM -->
<form enctype="multipart/form-data" method="post" (ngSubmit)="upload()">
	<input id="upload-text-up" class="hidden" type="text" name="text-up" [ngModel]="mkTextUp" />
	<input id="upload-text-left" class="hidden" type="text" name="text-left" [ngModel]="mkTextLeft" />
	<input id="upload-text-right" class="hidden" type="text" name="text-right" [ngModel]="mkTextRight" />
	<input id="upload-text-down" class="hidden" type="text" name="text-down" [ngModel]="mkTextDown" />

	<input id="upload-image" class="hidden" name="image" #file_dialog_multiple type="file" accept="image/*" multiple (change)="loadFiles($event)" />
	<input class="hidden" name="image" #file_dialog_one type="file" accept="image/*" (change)="loadCurrentSlideFile($event)" />
	<input id="upload-btn" class="hidden" name="upload" type="submit" />
</form>