<div *ngIf="slide">
	<div [routerLink]="['/slide/view', {id: slide.id}]" id="{{slide.name}}" class="slide" [ngStyle]="slide.style">
		<img src="data:{{slide.mimetype}};base64,{{slide.data}}" alt="{{slide.title}}" [ngStyle]="slide.imgStyle" />
	</div>
	
	<div *ngIf="slide.title.length !== 0" class="slide_title" [ngStyle]="slide.titleStyle">
		<h2>{{slide.title}}</h2>
	</div>

	<div *ngIf="layout == 'view' && slide.text.length !== 0" class="slide_text" [ngStyle]="slide.textStyle">
		<markdown #mkd>{{slide.text}}</markdown>
	</div>
	
	<div *ngIf="layout == 'manage'">
		<button mat-raised-button (click)="modifySlide()">modify</button>
		<br/>
		<button mat-raised-button color="warn" (click)="deleteSlide()">remove</button>
	</div>
</div>
