/* Gestion du contenu */
/*.slide {
	margin: 0 auto;
	white-space: nowrap;
}*/

.slide img {
	/*box-shadow: 0px 0px 20px #888888;*/
	/*TODO: utiliser background-image: url(data:image/png;base64,iVBORw0KGg...);*/
}

/*.slide {
	display: inline-block;
	height: 100%;
    vertical-align: middle;
}

.slide_title {
	margin: 0 auto;
}

.slide_text {
	color: #ddd;
	background-color: #282E34;
	text-align: center;
	text-align: justify;
	position: relative;
}*/