<div *ngIf="!!slide && layout == 'view'">
	<app-slide-view [slide]="slide"></app-slide-view>

	<div *ngIf="slide.title.length !== 0" class="slide_title" [ngStyle]="slide.titleStyle">
		<h2>{{slide.title}}</h2>
	</div>

	<div *ngIf="slide.text.length !== 0" class="slide_text" [ngStyle]="slide.textStyle">
		<markdown #mkd>{{slide.text}}</markdown>
	</div>
</div>

<div *ngIf="!!slide && layout == 'carousel'">
	<!--  fxLayout="row" fxLayoutAlign="center center"
		Pour supperposer le texte sur l'image il faut utiliser les propriétés CSS suivantes:
			position: relative;
	    	top: -500px;
-->
	<app-slide-view [slide]="slide"></app-slide-view>

	<div *ngIf="slide.title.length !== 0" class="slide_title" [ngStyle]="slide.titleStyle">
		<h2>{{slide.title}}</h2>
	</div>
</div>