textarea {
	width: 100%;
	height: 100px;
}

#load_slide {
	margin-top: 20px;
	border-style: none;
    background-color: #1D3C58;
    color: white;
    padding: 4px;
    font-size: 1em;
}

#btn-box {
	width: 25%;
	margin: 0px auto;
}

.button {
	width: 100%;
	margin: 5px 2.5px;
	border-style: none;
    color: white;
    padding: 7px;
    font-size: 1.5em;
}

#upload-btn {
    background-color: #1D3C58;
}

#preview-btn {
    background-color: #581d1d;
}

#layout {
	width: 100%;
	margin: auto;
}

.clickable:hover {
	cursor: pointer;
}

.clickable:active {
	cursor: grabbing;
}

.placeholder {
	padding: 20px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	border-style: dashed;
	border-width: thick;
	color: #333333;
	border-color: #333333;
}

.placeholder:hover {
	color: #474747;
	border-color: #474747;
}

.placeholder:active {
	color: #333333;
	border-color: #333333;
}