<mat-expansion-panel *ngIf="!!userForm" #panel (opened)="resetView()" (closed)="resetView()" [formGroup]="userForm" [expanded]="isAlone" [hideToggle]="isAlone">
	<mat-expansion-panel-header>
		<mat-panel-title>{{user.isCreated() ? (!!user.email ? user.email : user.id) : "Create user"}}</mat-panel-title>
		<mat-panel-description>
			<mat-chip-list #chipList>
				<mat-chip *ngFor="let permission of user.permissions" [selectable]="false" [removable]="isConnectedUserAdmin" (remove)="removePermission(permission)">
					{{permission}}
					<mat-icon *ngIf="isConnectedUserAdmin" matChipRemove>cancel</mat-icon>
				</mat-chip>
			</mat-chip-list>
		</mat-panel-description>
	</mat-expansion-panel-header>

	<mat-form-field>
		<input matInput formControlName="email" placeholder="Email" type="email" [(ngModel)]="user.email">
		<mat-error *ngIf="userForm.hasError('required') || userForm().hasError('email')">Please enter a valid email</mat-error>
	</mat-form-field>

	<mat-form-field>
		<input matInput formControlName="password" placeholder="Enter new password" [type]="passwordHide ? 'password' : 'text'" [(ngModel)]="user.password">
		<mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
		<mat-hint>at least 5 caracters long</mat-hint>
	</mat-form-field>

	<mat-form-field class="permission-chip-list">
		<mat-select placeholder="Add permission">
			<mat-option *ngFor="let permission of userPermissionsKeys()" (click)="addPermission(permission)">{{permission}}</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-action-row *ngIf="!deleteRequest">
		<button *ngIf="user.isCreated()" mat-button color="warn" (click)="deleteRequest=!deleteRequest">Delete</button>
		<button *ngIf="user.isCreated()" mat-button color="primary" (click)="updateUser(user)">Update</button>
		<button *ngIf="!user.isCreated()" mat-button color="primary" (click)="createUser()">Create</button>
	</mat-action-row>

	<mat-action-row *ngIf="deleteRequest">
		<span>Delete this user?</span>
		<button *ngIf="user.isCreated()" mat-button color="primary" (click)="deleteRequest=!deleteRequest">No</button>
		<button *ngIf="user.isCreated()" mat-button color="warn" (click)="deleteUser(); deleteRequest=!deleteRequest">Yes</button>
	</mat-action-row>
</mat-expansion-panel>
