<div *ngIf="slide" class="grid-container">
	<div id="{{slide.name}}" class="slide centered">
		<app-slide-view [slide]="slide"></app-slide-view>
	</div>

	<div *ngIf="!!slide.title && slide.title.length > 0" class="slide_title centered">
		{{slide.title}}
	</div>

	<div class="buttons centered" *ngIf="!deleteRequested">
		<button mat-button (click)="modifySlide()">
			<mat-icon>{{iconEdit}}</mat-icon>
		</button>
		<button mat-button color="warn" (click)="deleteRequested = true"><mat-icon>{{iconDelete}}</mat-icon></button>
	</div>

	<div class="buttons centered" *ngIf="deleteRequested">
		<button mat-button color="warn" (click)="deleteSlide()">Yes</button>
		<button mat-button (click)="deleteRequested = false">No</button>
	</div>
</div>