*, *:before, *:after {
    box-sizing: border-box;
}

.grid-container {
    margin: 0 auto;
}

.grid-container>div {
    margin: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.centerized {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
    white-space: nowrap;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slide img {
    /*box-shadow: 0px 0px 20px #888888;*/
    /*TODO: utiliser background-image: url(data:image/png;base64,iVBORw0KGg...);*/
}

.slide_title {
    color: black;
    grid-column: 2 / 4;
    grid-row: 1;
}

.slide_text {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    text-align: justify;
    position: relative;
}

.buttons {
    grid-column: 4;
    grid-row: 1;
}