<div *ngIf="slide" class="grid-container">
	<div [routerLink]="['/slide/view', {id: slide.id}]" id="{{slide.name}}" class="slide centered">
		<img *ngIf="slide.isLoaded" src="data:{{slide.mimetype}};base64,{{slide.data}}" alt="{{slide.title}}" />
		<div *ngIf="!slide.isLoaded" fxLayout="row" fxLayoutAlign="center center">
			<mat-spinner diameter="40"></mat-spinner>
		</div>
	</div>

	<div *ngIf="!!slide.title && slide.title.length > 0" class="slide_title centered">
		{{slide.title}}
	</div>

	<div class="buttons centered" *ngIf="!deleteRequested">
		<button mat-button (click)="modifySlide()">
			<mat-icon>{{iconEdit}}</mat-icon>
		</button>
		<button mat-button color="warn" (click)="deleteRequested = true"><mat-icon>{{iconDelete}}</mat-icon></button>
	</div>

	<div class="buttons centered" *ngIf="deleteRequested">
		<button mat-button color="warn" (click)="deleteSlide()">Yes</button>
		<button mat-button (click)="deleteRequested = false">No</button>
	</div>
</div>