mat-grid-tile {
    background-color: #000000FF
}

.floating-icon {
    color: grey;
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transform: translateX(100%);
}

.floating-icon:hover {
    color: black;
}