mat-grid-tile {
    background-color: #000000
}

.floating {
    position: absolute;
}

.fixed {
    position: fixed;
}

.album-icons {
    z-index: 100;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0;
    transform: translateX(100%);
}

.body-icons {
    z-index: 101;
    bottom: 1rem;
    right: 1rem;
}

.grey-icon {
    color: #232F34;
}

.black-icon {
    color: black;
}