<mat-grid-list *ngIf="albums.length > 0" [cols]="nbCols" rowHeight="1:1" gutterSize="16px">
	<div *ngFor="let album of albums">
		<mat-grid-tile *ngIf="!album.isHidden" (mouseenter)="album.hover='in'" (mouseleave)="album.hover='out'" [routerLink]="['/slideshow', {albumId: album.id}]" class="clickable">
			<app-album [album]="album" [hover]="album.hover" class="clickable"></app-album>
			<div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutAlign="start stretch" class="floating album-icons" [@albumMouseInOut]="album.hover">
				<button mat-mini-fab *ngIf="allowed.manageAlbum" class="clickable grey-icon" color="white" (click)="deleteAlbum($event, album.id)">
			    	<mat-icon aria-label="Delete the album">clear</mat-icon>
			  	</button>
				<button mat-mini-fab *ngIf="allowed.manageAlbum" class="clickable grey-icon" color="white" (click)="childNavigation($event, ['/album/edit', {id: album.id}])">
			    	<mat-icon aria-label="Edit the album">edit</mat-icon>
			  	</button>
			</div>
		</mat-grid-tile>
	</div>
</mat-grid-list>

<h1 *ngIf="albums.length === 0">No albums to show</h1>

<div fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="center end" class="fixed body-icons">
	<div *ngIf="allowed.manageAlbum" fxLayout="row" fxLayoutAlign="center end" style="width: 56px;">
		<button mat-mini-fab class="clickable black-icon" color="warn" [routerLink]="['/album/edit']">
			<mat-icon aria-label="Create an album">add</mat-icon>
		</button>
	</div>

	<app-search-mat-fab (search)="search($event)"></app-search-mat-fab>
</div>